*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}
.banner{
height:100vh;
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRasz8rhB5aa5jcDOnxiYzF8YILZdB_cire4Q&usqp=CAU");
background-position:center center;
background-size:cover;
background-repeat:no-repeat;
  align-items:center;

}
.banner-inner-content{
    text-align:center;
  color:black;
}
.banner-inner-content h1{
   display:block;
  padding-top:100px;
font-size:36px;

}
.banner-inner-content p{
   display:block;
  padding:10px 0px;
font-size:26px;
 margin-bottom:20px;

}

 .banner-inner-content a{
 background-color:#03a9f4;
 text-decoration:none;s
 padding:8px 16px;
 color:white; 
 font-size:16px;
 cursor:pointer;
 transition:0.6s;
}

.banner-inner-content a:hover{
  background-color:white;
  color:#03a9f4;
  
}


.header{
  background-color:green;
  width:100%;
  display:grid;
  grid-template-columns:auto auto;
  padding:0px 50px;
  height:60px;
  position:fixed;
  top:0;
   align-items:center;
   transition:0.6s;
   z-index:999999999;
 
  
}
.logo img{
  height:60px;
  
}
.links{
  text-align: right;
  transition:0.6s;
 padding-top:20px;
   
}
 
.links a{
  text-decoration:none;
  color:white;
  font-size:16px;
  padding:10px 10px;
  transition:0.6s;

}

.links a:hover{
   color:blue;
}
.logo .fa-bars{
  color:white;
  font-size:26px;
  display:block;
  float:right;
  line-height:60px;
  padding-right:10px;
  display:none;
cursor:pointer;
}

.heading{
background-color: #F7F7F7;
 padding: 50px 0px;
}

.heading h1 {
font-size: 22px;
display:block;
text-align: center;
padding:10px 0px;
}

.heading hr{
width: 15%;
margin: auto;
background-color: #03a9f4;
border:none;
height:2.5px;
}

.heading p{
font-size: 16px;
display:block;
text-align: center;
padding:10px 0px;
line-height:25px;
}

.service-section{
background-color: #F7F7F7;
display:grid;
grid-template-columns: 1fr 1fr;
grid-column-gap:2opx;
grid-row-gap:40px;
grid-gap: 20px;
padding: 0px 50px 50px 50px;
text-align:center;
cursor:pointer;
}
.service-section .service-item{
   border:1px solid rgba(0,0,0,0.1);
   box-shadow:none;
   transition:0.3s;

}

.service-section .service-item:hover{
    box-shadow:0px 40px 40px rgba(0,0,0,0.1);

}
.service-section .service-item .fa{
    colors:#03a9f4;
  font-size:30px;
  display:block;
 padding:20px 0px;
}
.service-section .service-item font{
  display:block;
  font-size:20px;
 padding:10px;
}
.service-section .service-item p{
  display:block;
  font-size:16px;
 padding:10px;
line-height:25px;
}

.contact-btn-section{
    display:grid;
    grid-template-columns:auto auto;
    grid-gap:20px;
    padding:50px 25px;
    text-align:center;
    background-color:#03a9f4;
    align-items:center;

}

.contact-btn-section-content{
   color:white;
   padding:20px 0px;
 font-size:26px;
}

.contact-btn-section-btn a{
   color:white;
 margin:auto;
   text-decoration:none;
    padding:12px 24px;
text-align:center;
 display:block;
width:fit-content;
background-color: #0488D1;
transition:0.6;
 box-shadow:0px 40px 40px rgba(0,0,0,0.1);

}

.contact-btn-section-btn a:hover{
       background-color:white;
       color:black;
}

.work{
display: grid;
 grid-template-columns:1fr 1fr 1fr;
}
.work-one,.work-two,.work-three,.work-four,.work-five,.work-six{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9GfS2uj2hmuiypVMQfee6YpJ3iU10JC-zow&usqp=CAU");
background-position: center center;
background-repeat:no-repeat;
background-size: cover;
height:50vh;
position:relative;
}

.work-two{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOt3pdYW3dFrFd1DJ8lMR70gbRPWDS7GMNZQ&usqp=CAU");

}

.work-three{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR73WmVIwS5o1wbpoTEwJI6tylT3vyIpW_MEQ&usqp=CAU");

}

.work-four{
background-image: url("https://i.pinimg.com/474x/16/22/ae/1622aedf7d6d4169037f9a86b10965e7.jpg");

}

.work-five{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_jE1Gi3De27rDbpwZLABvR2evEM5A6n3fqQ2iS_Q0R5K-LG38QgUR8r3q0BcG1K3QoVA&usqp=CAU");

}

.work-six{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1MH5bramOniKFbQccTUyu-_VJXlzi8Dvoeg&usqp=CAU");

}
.inner-work-one{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background-color:skyblue;
  border:2px solid white;
  cursor:pointer;
  visibility:hidden;
  opacity:0;
  transition:0.6s;
}

.inner-work-one h1{
   top:40%;
  background-color:white;
  padding:12px 24px;
  position:relative;
  width:fit-content;
  margin:auto;
  font-size:20px;
}

.inner-work-one a{
top:40%;
color: white;
padding:12px 24px;
position:relative;
width:fit-content;
margin: auto;
display:block;
font-size: 22px;
}

.work-one:hover .inner-work-one,.work-two:hover .inner-work-one,.work-three:hover .inner-work-one,.work-four:hover .inner-work-one,.work-five:hover .inner-work-one,.work-six:hover .inner-work-one{
  visibility:visible;
  opacity:0.8; 

}
.team{
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-gap: 20px;
padding: 0px 25px;
}

.team .team-item img{
width:100%;
}
.team .team-item {
 padding: 10px;
border-radius: 10px;
border:1px solid rgba(0,0,0,0.1);
text-align:center;
cursor:pointer;
} 

.team .team-item:hover{
  box-shadow:0px 30px 30px rgba(0 0 0/20%);
}

.team .team-item hl, .team .team-item p{
 display:block;
padding:10px 0px;
font-size: 18px;
text-align: center;
}

.team .team-item p{
padding: 0px 0px 10px 0px;
}

.team .team-item .fa{
color:white;
font-size:18px;
height: 40px;
background-color:blue;
line-height: 40px;
width: 40px;
text-align: center;
border-radius:50%;
cursor:pointer;
}

.team .team-item .fa-facebook{
    background-color:#5c83D2;
}

.team .team-item .fa-twitter{
    background-color:#40BEF4;
}

.team .team-item .fa-google-plus{
    background-color:#EB5F4D;
}

.team .team-item .fa-linkedin{
    background-color:#238CC8;
}

.review-container{
background-image: url("https://cdn.wallpapersafari.com/74/86/Hszyvw.jpg");
background-attachment:fixed;
background-position: center center;
background-size: cover;

}

.review-container .heading{
background-color: rgba(0,0,0,0.6);
color: white;
}

.review-item{
background-color: rgba(0,0,0,0.6); I
display:grid;
grid-template-columns:1fr 1fr 1fr;
 grid-gap: 20px;
padding: 0px 50px;
}

.contact-form{
  padding: 0px 50px
}

.contact-form div{
   width:50%;
   float:left;
   padding:5px;
}

.contact-form .message{
 width:100%;
 padding:5px;
}


.contact-form input{
  height:45px;
  border:1px solid skyblue;
  outline:none;
   padding:10px;
  width:100%;
}

.contact-form textarea{
  width:100%;
  padding:10px;
  border:1px solid skyblue;
  outline:none;
}

.contact-form .submitbtn{
  width:100%;
padding:5px;

}

.contact-form [type="submit"]{
 background-color:#03a9f4;
 outline:none;
 border:1px solid #03a9f4 ;
 padding:8px 16px;
 color:white; 
 font-size:16px;
 cursor:pointer;
 transition:0.6s;
 text-transform:uppercase;
  width:30%;
}

.contact-form [type="submit"]:hover{
    background-color:white;
    color:#03a9f4;
  }

.contact-details{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:20px;
  padding:50px 50px;
text-align:center;
}

.contact-details .contact-item{
   border:1px solid rgba(0,0,0,0.1);
   padding:20px;
   cursor:pointer;
transition:0.6;
}
.contact-details .contact-item:hover{
  box-shadow:0px 40px 40px rgba(0,0,0,0.1);
}

.contact-details .contact-item .fa{
   color:white;
     height:50px;
    width:50px;
 line-height:50px;
  text-align:center;
  background-color:#03a9f4;
  font-size:20px;
  border-radius:50%;

}

.contact-details .contact-item .p{
    display:block;
    padding:20px 0px;
    line-height:25px;
    font-size:17px;

}

.footer{
  padding:50px 50px;
  background-color:#24242A;
text-align:center;
color:white;
}

.footer imag{
  height:100px;
}
.footer .footer-icons .fa{
   color:white;
   height:40px;
   width:40px;
   line-height:40px;
  border-radius:5px;
transition:0.3s;
margin-left:0.5%
}
.footer .footer-icons .fa:hover{
  transform:rotate(45deg);
}
.footer-icons{
  padding:15px;
}

.footer .footer-icons .fa-facebook{
    background-color:#5c83D2;
}

.footer .footer-icons .fa-twitter{
    background-color:#40BEF4;
}

.footer .footer-icons .fa-google-plus{
    background-color:#EB5F4D;
}

.footer .footer-icons .fa-linkedin{
    background-color:#238CC8;
}
.footer p{
  padding:30px 0px;
}
.scrolltop{
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;

}

.scrolltop .fa{
  color:white;
  height:40px;
  line-height:40px;
  text-align:center;
  background-color:#03a9f4;
  font-size:22px;
}
.scrolltop .fa:hover{
   transform:rotate(270deg);
  transition:0.6;
}

@media only screen and (max-width:800px) {
   .header{
     grid-template-columns:1fr;
     padding:5px 5px;
  }
.links{
   padding-top:10px;
   height:0;
   overflow:hidden; 
  
}
.links a{
  display:block;
  text-align:left;
  padding:15px;
}
.logo .fa-bars{
  display:block;
}
.showmyanchors{
   height:100vh;
   transition:0.6s;
  }

.service-section{
grid-template-columns: 1fr;
grid-row-gap: 40px;
padding: 0px 25px 50px 25px;
  }

.contact-btn-section{
    grid-template-columns:1fr;
    grid-gap:20px;
    padding:50px 25px;
}
.work{
display: grid;
 grid-template-columns:1fr;
}

.team{
grid-template-columns:1fr;
padding: 0px 10px;
}
.contact-form{
  padding:0px 1opx;
}
.contact-form div{
   width:100%;
   padding:5px;
}
.contact-form [type="submit"]{
  width:100%;
}
.contact-details{
  grid-template-columns:1fr;
  padding:50px 50px;
}


}